{% extends 'base.html' %}
{% block title %}
Questionnaire

{% endblock %}
{% block headscript %}
 <style>
        @import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

        table.view-table > tbody > tr.view td, table.view-table > tbody > tr.view th {
            cursor: pointer;
        }

        table.view-table > tbody > tr.view td:first-child,
        table.view-table > tbody > tr.view th:first-child {
            position: relative;
            padding-left: 20px;
        }

        table.view-table > tbody > tr.view td:first-child:before,
        table.view-table > tbody > tr.view th:first-child:before {
            position: absolute;
            top: 50%;
            left: 5px;
            width: 9px;
            height: 16px;
            margin-top: -8px;
            font: 16px fontawesome;
            content: "\f0d7";
            transition: all .3s ease;
        }


        table.view-table > tbody > tr.view.open {
            background: gray;
            color: white;
        }

        table.view-table > tbody > tr.view.open td:first-child:before,
        table.view-table > tbody > tr.view.open th:first-child:before {
            transform: rotate(-180deg);
            color: #333333;
        }

        table.view-table > tbody > tr.fold {
            display: none;
        }

        table.view-table > tbody > tr.fold.open {
            display: table-row;
        }

        .fold-content {
            padding: .5em;
        }

        .fold-content h3 {
            margin-top: 0;
        }

    </style>
{% endblock %}
{% block body %}
<div class="container-fluid mt--6">
<div class="col">
<div class="card">
   <div class="card-header border-0">
                    <div class="row align-items-center py-4">
                        
                        <h3 class="mb-0">Response List</h3>
                        
                        <div class="col-lg-6 col-5 text-right">
                               
                        </div>
                        <a class='mx-3' style="text-align: right" href="{% url  'dashboard' %}">Home</a>
                        <div class="table-responsive">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"> Sample Questionnaire table</h5>
                                    
                                </div>
                            </div>
                        <!-- end card here-->
                       {% comment %} <iframe  width="100%" height="480" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRaJE4nRcx4rCDVzVw8LeBIojl0UAAXF0lry-jO93UOWQDDBJ_pqNK6wBBqRuq2X3TM3anceXQy_xOO/pubhtml?gid=738002919&amp;single=true&amp;widget=true&amp;wdAllowInteractivity=True&amp;headers=False"></iframe> {% endcomment %}
                       {% comment %} <iframe width='100%' height='480' src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRaJE4nRcx4rCDVzVw8LeBIojl0UAAXF0lry-jO93UOWQDDBJ_pqNK6wBBqRuq2X3TM3anceXQy_xOO/pubhtml?gid=738002919&single=true&action=embedview&wdbipreview=True&wdAllowInteractivity=True"></iframe> {% endcomment %}
                       {% comment %} <iframe src="https://onedrive.live.com/embed?cid=8EB22F052E6AEF39&resid=8EB22F052E6AEF39%211019&authkey=ACObBRR5gcTHex8&em=2" width="100%" height="480" frameborder="0" scrolling="no" headers="False"></iframe> {% endcomment %}
                       <iframe width="100%" height="480" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=710542315C8AC730%21128&authkey=%21AGFqReFM6TpTqWs&em=2&AllowTyping=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=true&resen=false&ed1JS=false"></iframe>
                        </div>
                        
                    </div>
                </div>
</div>
</div>
</div>

{% endblock %}



